// Mobile navigation bar
header nav.navbar.mobile
{
    display: none;

    .topbar
    {
        display: grid;
        grid-template-columns: 1fr auto;
        height: 80px;

        .logo
        {
            align-self: center;
            
            a
            {
                text-decoration: none;
                font-size: var(--font-size-xlg);
                font-weight: bold;
                color: var(--text-normal);
    
                span
                {
                    color: var(--text-accent);
                }

                @media screen and (max-width: 768px)
                {
                    font-size: var(--font-size-lg);
                }
            }
        }

        .actions
        {
            align-self: center;

            ul
            {
                display: flex;

                li
                {
                    list-style: none;
                    display: inline-flex;
                    margin-left: 10px;

                    svg
                    {
                        align-self: center;
                        cursor: pointer;
                        stroke-width: 3;
                    }

                    .burger-menu
                    {
                        width: 40px;
                        height: 40px;
        
                        button
                        {
                            background: none;
                            color: inherit;
                            border: none;
                            padding: 0;
                            font: inherit;
                            cursor: pointer;
                            outline: inherit;
        
                            &.burger
                            {
                                position: relative;
                                z-index: 1000 !important;
                                background-color: transparent;
                                border: none;
                                cursor: pointer;
                                display: flex;
                                padding: 0;
        
                                .line
                                {
                                    fill: none;
                                    stroke: var(--text-normal);
                                    stroke-width: 7;
                                    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                                    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
                                }
        
                                .line1
                                {
                                    stroke-dasharray: 60 207;
                                    stroke-width: 7;
                                }
        
                                .line2
                                {
                                    stroke-dasharray: 60 60;
                                    stroke-width: 7;
                                }
        
                                .line3
                                {
                                    stroke-dasharray: 60 207;
                                    stroke-width: 7;
                                }
                            }
        
                            &.burger.opened
                            {
                                .line1
                                {
                                    stroke-dasharray: 90 207;
                                    stroke-dashoffset: -134;
                                    stroke-width: 7;
                                }
        
                                .line2
                                {
                                    stroke-dasharray: 1 60;
                                    stroke-dashoffset: -30;
                                    stroke-width: 7;
                                }
        
                                .line3
                                {
                                    stroke-dasharray: 90 207;
                                    stroke-dashoffset: -134;
                                    stroke-width: 7;
                                }
                            }

                            svg
                            {
                                stroke-width: 3;
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 768px)
        {
            height: 60px;
        }
    }

    @media screen and (max-width: 1024px)
    {
        display: block;
    }
}