header.page-header
{
    height: 400px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    background: linear-gradient(0deg, var(--color-homepage-dark), var(--color-homepage-light));
}

@import "./stars.scss";