.page-layout
{
    height: 100%;

    display: grid;
    grid-template-rows: auto 1fr auto;

    main
    {
        display: grid;
        z-index: 2;

        background-color: var(--background-primary);
    }
}
