.page-layout
{
    height: 100%;

    display: grid;
    grid-template-rows: auto 1fr auto;

    main
    {
        display: grid;
        z-index: 2;

        background-color: var(--background-primary);

        .main-inner-wrapper
        {
            justify-self: center;
            width: 100%;
            max-width: var(--max-width);
            padding: 0px var(--page-padding);
        }
    }
}
