<div id="search-container">
    <div id="search-space">
        <input autocomplete="off" id="search-bar" name="search" type="text" aria-label="Search" placeholder="Search for something...">
        <div id="results-container">
        </div>
    </div>
</div>

{{/*  External script  */}}

{{/*  Local script configuration  */}}
{{/*  Integrity  */}}
{{ define "integrity" }}
    {{ if (urls.Parse .Permalink).Host }}
        integrity="{{ .Data.Integrity }}" crossorigin="anonymous"
    {{ end }}
{{ end }}


{{ $searchJSFile := printf "%s.search.js" .Language.Lang }}
{{ $searchJS := resources.Get "js/dist/search.js" | resources.ExecuteAsTemplate $searchJSFile . | resources.Minify | resources.Fingerprint }}
<script defer src="{{ "flexsearch.min.js" | relURL }}"></script>
<script defer src="{{ $searchJS.RelPermalink }}" {{ template "integrity" $searchJS }}></script>
