{{/*  Metadata  */}}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google" content="notranslate" />

{{/*  Styles  */}}
{{ partial "components/head/style.html" . }}

{{/*  Scripts  */}}
{{/*  Highlight.js */}}
{{/*  {{ $highlight := slice (resources.Get "js/external/highlight.min.js") | resources.Concat "assets/js/highlight.js" | minify | fingerprint }}
<script defer crossorigin="anonymous" src="{{ $highlight.RelPermalink }}" integrity="{{ $highlight.Data.Integrity }}" onload="hljs.initHighlightingOnLoad();"></script>  */}}

{{/*  Page Title  */}}
<title>Vasile Câmpeanu's Porfolio & Blog</title>

{{/*  Preload page variables  */}}
{{$linkIndex := resources.Get "indices/linkIndex.json" | resources.Fingerprint "md5" | resources.Minify |  }}
{{$contentIndex := resources.Get "indices/contentIndex.json" | resources.Fingerprint "md5" | resources.Minify }}

<script>
  const BASE_URL = {{.Site.BaseURL}}
  const fetchData = Promise.all([
        fetch("{{ $linkIndex.Permalink }}")
          .then(data => data.json())
          .then(data => ({
            index: data.index,
            links: data.links,
          })),
        fetch("{{ $contentIndex.Permalink }}")
          .then(data => data.json()),
      ])
      .then(([{index, links}, content]) => ({
        index,
        links,
        content,
      }))
</script>