{{/*  Get Resources  */}}
{{/*  External  */}}
{{ $tcbot  := resources.Get "js/external/tocbot.min.js" }}

{{/*  Internal  */}}
{{ $bundle := resources.Get "js/dist/bundle.js" }}
{{ $index  := resources.Get "js/dist/index.js" }}

{{/*  Include scripts  */}}
{{/*  External  */}}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

{{/*  Internal  */}}
<script src="{{ $bundle.RelPermalink }}" ></script>
<script src="{{ $tcbot.RelPermalink  }}" ></script>
<script src="{{ $index.RelPermalink  }}" ></script>