{{ if eq .Site.Language.LanguageName "English" }}
    <div class="subtitle">
        <p>Hi, I'm Vasile Câmpeanu - </p>
    </div>
    <div class="title">
        <h1>I'm a student, currently studying computer science at <a href="https://www.umfst.ro/en/home.html">UMFST</a> Târgu Mureș</h1>
    </div>
    <div class="info">
        <p>I am passionate about <span>artificial inteligence</span>, <span>bioinformatics</span> and <span>single-cell genomics</span>. My biggest interest lays in understanding the biological world from a computational standpoint.</p>
    </div>
{{ else if eq .Site.Language.LanguageName "Romanian" }}
    <div class="subtitle">
        <p>Hi, I'm Vasile Câmpeanu - </p>
    </div>
    <div class="title">
        <h1>I'm a student, currently studying computer science at <a href="https://www.umfst.ro/en/home.html">UMFST</a> Târgu Mureș</h1>
    </div>
    <div class="info">
        <p>I am passionate about <span>artificial inteligence</span>, <span>bioinformatics</span> and <span>single-cell genomics</span>. My biggest interest lays in understanding the biological world from a computational standpoint.</p>
    </div>
{{ end }}