main.post 
{
    .main-inner-wrapper
    {
        justify-self: center;
        width: 100%;
        max-width: calc(var(--max-width-primary) + 64px);
        padding: 0px calc(var(--page-padding) * 2);
        display: grid;
        gap: 32px;

        grid-template-columns: 700px auto;

        .post-content
        {
            margin-top: 75px;
            max-width: 700px;
            font-size: var(--font-size-md);

            pre > code 
            {
                display: grid;
            }            

            pre
            {
                width: 764px;
                max-width: 764px;
                margin: 10px 0px;
                margin-left: -32px;
                white-space: pre;
                overflow-x: auto;

                background-color: #152028;
                border-radius: var(--border-radius);
                padding: 32px;

                code
                {
                    max-width: var(--max-width-primary);
                    overflow-x: auto;
                }
            }

            ul, ol 
            {
                list-style-position: inside;
            }

            ol
            {
                ul
                {
                    margin-left: 31px;
                }
            }

            p
            {
                margin: 15px 0px;
            }

            hr
            {
                margin: 25px 0px;
            }
        }
    }
}