@import "./core/normalize.scss";
@import "./core/variables.scss";
@import "./core/general.scss";

// Components
// Layout
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/layout.scss";

@import "./components/recently-published.scss";

pre
{
    white-space: pre;
    overflow-x: auto;
    
    code
    {
        overflow-x: auto;
        max-width: calc(100% + 64px);
    }
}
