<div class="left">© 2022 Vasile Câmpeanu</div>
<div class="right">
    <ul>
        <li>
            <a href="https://www.linkedin.com/in/vasilecampeanu/">{{ partial "helper/icon" "linkedin" }}</a>
        </li>
        <li>
            <a href="https://github.com/vasilecampeanu/">{{ partial "helper/icon" "github" }}</a>
        </li>
        <li>
            <a href="https://www.instagram.com/vasilecampeanu.link/">{{ partial "helper/icon" "instagram" }}</a>                 
        </li>
        <li>
            <a href="https://twitter.com/vasilecampeanu_">{{ partial "helper/icon" "twitter" }}</a>
        </li>
    </ul>
</div>