.main-wrapper.about 
{
    display: grid;
    grid-template-columns: 42.5% 1fr;
    gap: 20px;

    @media screen and (max-width: 1024px) 
    {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    aside 
    {
        grid-template-rows: auto;
        gap: 20px;

        .intro 
        {
            background-color: var(--background-secondary-01);
            padding: 15px;
            border: 2px solid var(--border-color);
            border-radius: 5px;
            margin-bottom: 20px;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
            
            .icon 
            {
                color: #ff0878;
            }

            .title 
            {
                font-size: var(--font-size-lg);
                text-transform: uppercase;
                color: #ff0878;
                font-weight: bold;
                padding-bottom: 10px;
            }

            .info 
            {
                ul 
                {
                    li 
                    {
                        list-style: none;
                        display: grid;
                        grid-template-columns: auto 1fr;
                        padding-bottom: 15px;

                        a 
                        {
                            color: var(--text-normal);
                            text-decoration: none;

                            &:hover 
                            {
                                text-decoration: underline;
                            }
                        }

                        span.bold 
                        {
                            font-weight: bold;
                        }

                        span.info-icon 
                        {
                            padding-right: 10px;
                        }

                        svg 
                        {
                        }
                    }
                }
            }

            .media-links 
            {
                ul 
                {
                    li 
                    {
                        padding-bottom: 15px;
                        list-style: none;

                        a 
                        {
                            display: grid;
                            grid-template-columns: auto 1fr;
                            color: var(--text-normal);
                            text-decoration: none;

                            &:hover 
                            {
                                text-decoration: underline;
                            }

                            span.bold 
                            {
                                font-weight: bold;
                            }

                            span.info-icon 
                            {
                                padding-right: 10px;
                            }

                            svg 
                            {
                            }
                        }
                    }
                }
            }
        }

        .projects 
        {
            background-color: var(--background-secondary-01);
            padding: 15px;
            border: 2px solid var(--border-color);
            border-radius: 5px;
            margin-bottom: 20px;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

            .icon 
            {
                color: #ff0878;
            }

            .title 
            {
                font-size: var(--font-size-lg);
                text-transform: uppercase;
                color: #ff0878;
                font-weight: bold;
            }
        }

        .life-events 
        {
            background-color: var(--background-secondary-01);
            padding: 15px;
            border: 2px solid var(--border-color);
            border-radius: 5px;
            margin-bottom: 20px;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

            .icon 
            {
                color: #ff0878;
            }

            .title 
            {
                font-size: var(--font-size-lg);
                text-transform: uppercase;
                color: #ff0878;
                font-weight: bold;
            }

            .list 
            {
                .rb-container 
                {
                }

                .rb-container ul.rb 
                {
                    // margin: 2.5em 0;
                    margin-top: 10px;
                    padding: 0;
                    display: inline-block;
                }

                .rb-container ul.rb li 
                {
                    list-style: none;
                    margin: auto;
                    margin-left: 13px;
                    // min-height: 50px;
                    border-left: 1px dashed var(--identation-guides);
                    padding: 0 0 25px 30px;
                    position: relative;
                }

                .rb-container ul.rb li.rb-item-last
                {
                    padding: 0px;
                }

                .rb-container ul.rb li.rb-item-last::before
                {
                    display: none;
                }

                .rb-container ul.rb li:last-child 
                {
                    border-left: 0;
                }

                .rb-container ul.rb li::before 
                {
                    position: absolute;
                    left: -13px;
                    top: -5px;
                    content: " ";
                    border: 8px solid var(--circle-color);
                    border-radius: 500%;
                    background: var(--text-accent);
                    height: 25px;
                    width: 25px;
                    transition: all 500ms ease-in-out;
                }

                .rb-container ul.rb li:hover::before 
                {
                    border-color: #232931;
                    transition: all 500ms ease-in-out;
                }

                ul.rb li .item-title
                {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    padding-top: 5px;
                    a
                    {
                        text-decoration: none;
                        color: var(--text-normal);

                        &:hover
                        {
                            text-decoration: underline;
                        }
                    }
                    
                    span
                    {
                        padding-right: 10px;
                    }
                }

                ul.rb li .timestamp
                {
                    color: var(--text-accent);
                    position: relative;
                    // width: 100px;
                    font-size: 12px;
                }
            }
        }
    }

    .about-me 
    {
        // background-color: rebeccapurple;
        
        .action-toolbar
        {
            // background-color: red;
            margin-bottom: 20px;
            padding: 10px;
            border: 2px solid var(--border-color);
            border-radius: 5px;
            background-color: var(--background-secondary-01);
            display: grid;

            a
            {
                justify-self: end;
                text-decoration: none;
                color: white;
                font-weight: bold;
                padding: 5px 20px;
                background-color: var(--text-accent);
                border: 1px solid var(--border-color);
                border-radius: 5px;
                transition: all var(--hover-transition);
                
                svg
                {
                    margin-right: 5px;    
                }

                &:hover
                {
                    background-color: var(--text-accent-hover);
                }

                &.resume-button
                {
                    display: inline-flex;
                }
            }
        }
        // align-self: start;
        // background-color: var(--background-secondary-01);
        // padding: 15px;
        // border: 2px solid var(--border-color);
        // border-radius: 5px;

        // .icon
        // {
        //     color: #FF0878;
        // }

        // .title
        // {
        //     font-size: var(--font-size-lg);
        //     text-transform: uppercase;
        //     color: #FF0878;
        //     font-weight: bold;
        //     padding-bottom: 20px;
        // }
    }
}
