main .main-wrapper.home
{
    .blog-posts
    {
        display: grid;
        grid-template-columns: 1fr 35%;
        gap: 2rem;
        
        @media screen and (max-width: 1024px)
        {
            margin-top: 2rem;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            gap: 0;
        }
        
        .recently-published
        {
            .title
            {
                color: #FF0878;
                font-weight: bold;
                font-size: var(--font-size-lg);
                margin-bottom: 2rem;
            }

            .post-list
            {
                article
                {
                    margin-bottom: 20px;
                    
                    .article-compact
                    {
                        a
                        {
                            text-decoration: none;
                            color: var(--text-normal);

                            .article-title
                            {
                                font-size: var(--font-size-lg);
                                font-weight: bold;
                                transition: all var(--hover-transition);
                            }

                            .article-description
                            {
                                font-size: var(--font-size-xsm);
                                color: var(--article-description-color);

                                p
                                {
                                    margin-bottom: 10px;
                                }

                                span
                                {
                                    font-weight: bold;
                                    color: var(--text-normal);
                                    display: inline-flex;
                                    
                                    svg
                                    {
                                        color: var(--text-accent);
                                        margin-left: 2.5px;
                                        opacity: 0;
                                        transition: all var(--hover-transition);
                                        stroke-width: 3;
                                    }

                                    &:hover svg
                                    {
                                        transform: translateX(7.5px);
                                    }
                                }
                            }

                            &:hover .article-title
                            {
                                color: var(--text-accent);
                            }

                            &:hover .article-description span svg
                            {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        
        .categoriesCloud
        {
            margin-bottom: 2rem;

            .widget-icon
            {
                color: #FF0878;
            }

            .title
            {
                color: #FF0878;
                font-weight: bold;
                font-size: var(--font-size-lg);
                margin-bottom: 2rem;
                
            }

            .categoriesCloud-categories
            {
                a
                {
                    background-color: var(--text-accent);
                    border: 1px solid var(--border-color);
                    border-radius: 10px;
                    color: white;
                    padding: 2.5px 10px;
                    text-decoration: none;
                    margin-left: 5px;
                    margin-bottom: 5px;
                    display: inline-block;
                    font-weight: bold;

                    &:hover
                    {
                        text-decoration: underline;
                    }
                }
            }
        }
        .popular-content
        {
            .widget-icon
            {
                color: #FF0878;
            }
            
            .title
            {
                color: #FF0878;
                font-weight: bold;
                font-size: var(--font-size-lg);
                margin-bottom: 2rem;
            }

            .post-list
            {
                ul
                {
                    li
                    {
                        list-style: none;
                        margin-bottom: 10px;
                        a
                        {
                            display: grid;
                            grid-template-columns: auto 1fr;
                            text-decoration: none;
                            font-weight: bold;
                            color: var(--text-normal);
                            
                            svg
                            {
                                color: var(--text-accent);
                                transition: all var(--hover-transition);
                            }

                            p
                            {
                                padding-left: 10px;
                            }

                            &:hover svg
                            {
                                transform: translateX(7.5px);
                            }
                        }
                    }
                }
            }
        }
    }
}