main .main-wrapper.blog
{
    display: grid;
    grid-template-areas: 
    "left_sidebar main_content right_sidebar";
    gap: 1rem;
    grid-template-columns: 25% 1fr 25%;

    .sidebar
    {
        .recently-published
        {
            .widget-icon
            {
                color: #FF0878;
            }

            .title
            {
                color: #FF0878;
                font-weight: bold;
                font-size: var(--font-size-lg);
                margin-bottom: 2rem;
            }

            .post-list
            {
                article
                {
                    margin-bottom: 20px;
                    
                    .article-compact
                    {
                        a
                        {
                            text-decoration: none;
                            color: var(--text-normal);

                            .article-title
                            {
                                font-size: var(--font-size-lg);
                                font-weight: bold;
                                transition: all var(--hover-transition);
                            }

                            .article-description
                            {
                                font-size: var(--font-size-xsm);
                                color: var(--article-description-color);

                                p
                                {
                                    margin-bottom: 10px;
                                }

                                span
                                {
                                    font-weight: bold;
                                    color: var(--text-normal);
                                    font-size: 14px;
                                    display: inline-flex;
                                    text-transform: uppercase;

                                    svg
                                    {
                                        color: var(--text-accent);
                                        margin-left: 2.5px;
                                        opacity: 0;
                                        transition: all var(--hover-transition);
                                        stroke-width: 3;
                                        height: 1.35em;
                                        width:  1.35em;
                                        align-self: center;
                                        pointer-events: fill;
                                    }

                                    &:hover svg
                                    {
                                        transform: translateX(5.5px);
                                    }
                                }
                            }

                            &:hover .article-title
                            {
                                color: var(--text-accent);
                            }

                            &:hover .article-description span svg
                            {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        
        .categoriesCloud
        {
            margin-bottom: 2rem;

            .widget-icon
            {
                color: #FF0878;
            }

            .title
            {
                color: #FF0878;
                font-weight: bold;
                font-size: var(--font-size-lg);
                margin-bottom: 2rem;
                
            }

            .categoriesCloud-categories
            {
                a
                {
                    display: inline-block;
                    text-decoration: none;
                    background-color: var(--text-accent);
                    border: 1px solid var(--border-color);
                    padding: 3.5px 10px;
                    color: white;
                    border-radius: 5px;
                    font-weight: bold;
                    font-size: 14px;
                    margin-bottom: 5px;
                    transition: all var(--hover-transition);

                    &:hover
                    {
                        background-color: var(--text-accent-hover);
                    }
                }
            }
        }

        .popular-content
        {
            .widget-icon
            {
                color: #FF0878;
            }
            
            .title
            {
                color: #FF0878;
                font-weight: bold;
                font-size: var(--font-size-lg);
                margin-bottom: 2rem;
            }

            .post-list
            {
                ul
                {
                    li
                    {
                        list-style: none;
                        margin-bottom: 10px;

                        a
                        {
                            display: grid;
                            grid-template-columns: auto 1fr;
                            text-decoration: none;
                            font-weight: bold;
                            color: var(--text-normal);
                            
                            span
                            {
                                padding-right: 5px;
                                display: inline-flex;
                            }

                            svg
                            {
                                color: var(--text-accent);
                                transition: all var(--hover-transition);
                                pointer-events: fill;
                                height: 1.15em;
                                width: 1.15em;
                                align-self: center;
                                stroke-width: 3;
                            }

                            p
                            {
                                padding-left: 5px;
                            }

                            &:hover svg
                            {
                                transform: translateX(7.5px);
                            }
                        }
                    }
                }
            }
        }
    }

    .article-list
    {
        grid-area: main_content;

        article
        {
            // background-color: rebeccapurple;
            margin-bottom: 20px;
            border-radius: 15px;
            border: 2px solid var(--border-color);
            background-color: var(--background-secondary-01);
            box-shadow: var(--shadow-l2);
            transition: all var(--hover-transition);

            &:hover
            {
                box-shadow: var(--shadow-l4);
            }

            &.has-image
            {
                .article-image
                {
                    a
                    {
                        img
                        {
                            width: 100%;
                            height: 175px;
                            border-radius: 12.5px;
                        }
                    }
                }
            }

            .article-details
            {
                padding: 30px;
                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
                border-radius: 15px;
                
                header
                {
                    padding-top: 5px;
                    
                    &.article-category
                    {
                        padding-bottom: 20px;
                        a 
                        {
                            margin-right: 10px;
                            background-color: var(--background-secondary-02);
                            box-shadow: var(--shadow-l1);
                            padding: 5px 20px;
                            color: var(--text-normal);
                            text-decoration: none;
                            border-radius: 5px;
                            border: 1px solid var(--border-color);
                            font-weight: bold;
                            font-size: var(--font-size-xxsm);

                            &:hover 
                            {
                                box-shadow: var(--shadow-l2);
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .article-title-wrapper
                {
                    margin-top: 5px;

                    .article-title
                    {
                        a
                        {

                            text-decoration: none;
                            color: var(--text-accent);
                            transition: all var(--hover-transition);

                            font-size: var(--font-size-m);

                            line-height: 0;

                            &:hover
                            {
                                color: var(--text-accent-hover);
                            }
                        }
                    }

                    .article-description
                    {
                        border-top: 2px solid var(--border-color);
                        border-bottom: 2px solid var(--border-color);
                        padding: 10px 0px;
                        font-weight: normal;
                        color: var(--article-description-color);
                        transition: all var(--description-hover-transition);
                        
                        margin-top: 10px;
                        transition: all var(--hover-transition);

                        font-size: var(--font-size-xsm);
                        
                        &:hover
                        {
                            color: var(--text-normal);
                        }

                        a
                        {
                            color: var(--text-accent);
                            text-decoration: underline;
                            font-weight: bold;
                            transition: all var(--hover-transition);

                            &:hover
                            {
                                color: var(--text-accent-hover);
                            }
                        }
                    }
                }

                section
                {
                    margin-top: 10px;

                    &.article-time
                    {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        gap: 10px;
                        color: var(--text-normal);

                        svg
                        {
                            width: 1em;
                            height: 1em;
                        }
                    
                        & > div 
                        {
                            display: inline-flex;
                            align-items: center;
                            gap: 5px;
                        }
                    }

                    &.article-translations
                    {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        gap: 5px;

                        color: var(--text-normal);

                        svg
                        {
                            width: 1em;
                            height: 1em;
                        }
                        
                        a
                        {
                            color: var(--text-normal);
                            text-decoration: none;
                            text-transform: uppercase;

                            &:hover
                            {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px)
{
    main .main-wrapper.blog
    {
        grid-template-areas: 
        "left_sidebar main_content";
        grid-template-columns: 30% 1fr;
    }

    aside.sidebar.right-sidebar
    {
        display: none;
    }
}

@media screen and (max-width: 768px)
{
    main .main-wrapper.blog
    {
        grid-template-areas: 
        "main_content";
        grid-template-columns: 1fr;

        gap: 0;
    }

    aside.sidebar.left-sidebar
    {
        display: none;
    }

    .sidebar
    {
        margin-top: 2rem;
    }
}