main .main-wrapper.home
{
    .blog-posts
    {

        display: grid;
        grid-template-columns: 1fr 35%;
        gap: 2rem;

        .recently-published
        {
            .title
            {
                color: #FF0878;
                font-weight: bold;
                font-size: var(--font-size-lg);
                margin-bottom: 30px;
            }

            .post-list
            {
                article
                {
                    margin-bottom: 20px;
                    .article-compact
                    {
                        a
                        {
                            text-decoration: none;
                            color: var(--text-normal);

                            .article-title
                            {
                                font-size: var(--font-size-lg);
                                font-weight: bold;
                                transition: all var(--hover-transition);
                            }

                            .article-description
                            {
                                font-size: var(--font-size-xsm);
                                color: var(--article-description-color);

                                p
                                {
                                    margin-bottom: 10px;
                                }
                                span
                                {
                                    font-weight: bold;
                                    color: var(--text-normal);
                                    &:hover
                                    {
                                        text-decoration: underline;
                                    }
                                }
                            }

                            &:hover .article-title
                            {
                                color: var(--text-accent);
                            }
                        }
                    }
                }
            }
        }
    }
}