body
{
    display: grid;
    background-color: var(--background-primary);
    font-family: var(--default-font);
    color: var(--text-normal);
}

html
{
    scroll-behavior: smooth;
}

.site-wrapper
{
    justify-self: center;
    
    // Base grid layout
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: auto 1fr auto;
    gap: 0rem;

    width: 85%;
    max-width: 1536px;
    padding: 0px 20px;

    // Loading & resize transitions
    transition: opacity 0.5s ease-out, width .3s, transform .3s;
    opacity: 0;
    display: none

    header
    {
        grid-area: header;
    }

    main
    {
        grid-area: main;
    }

    footer
    {
        grid-area: footer;
    }

    @media screen and (max-width: 1220px)
    {
        width: 100%;
    }
}

// 
.hide-overflow
{
    overflow: hidden !important;
}

// Loading animation
.loader
{
    display: grid;
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
}

.loader lottie-player
{
    justify-self: center;
    align-self: center;
}