<div class="main-wrapper about">
    <aside>
        <div class="intro">
            <div class="icon">
                {{ partial "helper/icon" "categories" }}
            </div>
            <div class="title">
                Intro
            </div>
            <div class="info">
                <ul>
                    <li>Item 01</li>
                    <li>Item 02</li>
                    <li>Item 03</li>
                    <li>Item 04</li>
                    <li>Item 05</li>
                </ul>
            </div>
        </div>
        <div class="photos">
            <div class="icon">
                {{ partial "helper/icon" "categories" }}
            </div>
            <div class="title">
                Photos
            </div>
        </div>
    </aside>
    <div class="about-me">
        <div class="icon">
            {{ partial "helper/icon" "categories" }}
        </div>
        <div class="title">
            About
        </div>
    </div>
</div>