<div class="main-wrapper about">
    <aside>
        <div class="intro">
            <div class="icon">
                {{ partial "helper/icon" "list" }}
            </div>
            <div class="title">
                Intro
            </div>
            <div class="info">
                <ul>
                    <li>
                        <span class="info-icon">{{ partial "helper/icon" "briefcase" }}</span>
                        <p>Not Working</p>
                    </li>
                    <li>
                        <span class="info-icon">{{ partial "helper/icon" "graduation-cap" }}</span>
                        <p>Studies <span class="bold"><a href="https://www.umfst.ro/home.html">Computer Science at UMFST Târgu Mureș - Faculty of Engineering</a></span></p>
                    </li>
                    <li>
                        <span class="info-icon">{{ partial "helper/icon" "map-pin" }}</span>
                        <p>From <span class="bold">Romania, Europe</span></p>
                    </li>
                </ul>
            </div>
            <div class="media-links">
                <ul>
                    <li>
                        <a href="https://www.instagram.com/vasilecampeanu.link/">
                            <span class="info-icon">{{ partial "helper/icon" "github" }}</span>
                            <p>vasilecampeanu</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/vasilecampeanu.link/">
                            <span class="info-icon">{{ partial "helper/icon" "linkedin" }}</span>
                            <p>vasilecampeanu</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/vasilecampeanu.link/">
                            <span class="info-icon">{{ partial "helper/icon" "instagram" }}</span>
                            <p>vasilecampeanu.link</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/vasilecampeanu.link/">
                            <span class="info-icon">{{ partial "helper/icon" "twitter" }}</span>
                            <p>vasilecampeanu_</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="life-events">
            <div class="icon">
                {{ partial "helper/icon" "calendar" }}
            </div>
            <div class="title">
                Life events
            </div>
            <div class="list">
                No events to show.
            </div>
        </div>
        <div class="projects">
            <div class="icon">
                {{ partial "helper/icon" "layout-grid" }}
            </div>
            <div class="title">
                Projects
            </div>
            <div class="list">
                No projects to show.
            </div>
        </div>
    </aside>
    <div class="about-me">
        <div class="container">
            {{ partial "balloon/layout.html" . }}
        </div>
    </div>
</div>