<div class="main-wrapper about">
    <aside>
        <div class="intro">
            <div class="icon">
                {{ partial "helper/icon" "categories" }}
            </div>
            <div class="title">
                Intro
            </div>
            <div class="info">
                <ul>
                    <li>Item 01</li>
                    <li>Item 02</li>
                    <li>Item 03</li>
                    <li>Item 04</li>
                    <li>Item 05</li>
                </ul>
            </div>
        </div>
        <div class="life-events">
            <div class="icon">
                {{ partial "helper/icon" "categories" }}
            </div>
            <div class="title">
                Life events
            </div>
            <div class="list">
                No events to show.
            </div>
        </div>
        <div class="projects">
            <div class="icon">
                {{ partial "helper/icon" "categories" }}
            </div>
            <div class="title">
                Projects
            </div>
            <div class="list">
                No projects to show.
            </div>
        </div>
    </aside>
    <div class="about-me">
        <div class="container">
            {{ partial "balloon/layout.html" . }}
        </div>
    </div>
</div>