<div class="main-wrapper blog">
    <div>
        <aside class="sidebar">
            {{ partial "components/sidebar.html" (dict "Context" . "Scope" "blogpage-left") }}
        </aside>
    </div>
    <section class="article-list">
        {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.posts }}
        {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
        {{ $filtered := ($pages | intersect $notHidden) }}
        {{ $pag := .Paginate ($filtered) }}
        {{ range $index, $element := $pag.Pages }}
            Hello
        {{ end }}
        {{ partial "helper/pagination.html" . }}
    </section>
    <div>
        <aside class="sidebar">
            {{ partial "components/sidebar.html" (dict "Context" . "Scope" "blogpage-right") }}
        </aside>
    </div>
</div>