<div class="main-wrapper home">
    <div class="introduction">
        <!-- Who I am ? -->
        <div class="about">
            <div class="subtitle">
                <p>Hi, I'm Vasile Câmpeanu - </p>
            </div>
            <div class="title">
                <h1>I'm a student, currently studying computer science at <a href="https://www.umfst.ro/en/home.html">UMFST</a> Târgu Mureș</h1>
            </div>
            <div class="info">
                <p>I am passionate about <span>artificial inteligence</span>, <span>bioinformatics</span> and <span>single-cell genomics</span>. My biggest interest lays in understanding the biological world from a computational standpoint. <a href="/about/">(more about me...)</a></p>
            </div>
        </div>
        <div class="animation">
            {{ $meditationAnimation := resources.Get "json/meditationAnimation.json" }}

            <div class="item item-1">
                {{ partial "helper/svg" "artificial-neuron" }}
            </div>
            <div class="item item-2">
                {{ partial "helper/svg" "earth-cosmos-mapp" }}
            </div>
            <div class="center">
                <lottie-player src="{{ $meditationAnimation.RelPermalink }}"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
                <!-- Credit: https://lottiefiles.com/Mikhail_V94 -->
            </div>
            <div class="item item-3">
                {{ partial "helper/svg" "earth-cosmos-mapp" }}
            </div>
            <div class="item item-4">
                {{ partial "helper/svg" "vitruvian-man" }}
            </div>
        </div>
    </div>
    <div class="blog-posts">
        {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.posts }}
        {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
        {{ $filtered := ($pages | intersect $notHidden) }}
        
        <div class="recently-published">
            <div class="widget-icon">
                {{ partial "helper/icon" "clock" }}
            </div>
            <div class="title">RECENTLY PUBLISHED</div>
            <div class="post-list">
                {{ range $index, $element := $filtered }}
                    {{ partial "article/compact.html" . }}
                {{ end }}
            </div>
        </div>
        <aside class="sidebar">
            {{ partial "components/sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
        </aside>
    </div>
</div>