.dropdown-language
{
    align-self: center;

    button
    {
        padding: 0px;
        margin: 0px;
        border: none;
        display: grid;
        background-color: transparent;
        cursor: pointer;

        svg
        {
            color: var(--text-normal);
            pointer-events: fill !important;
        }
    }

    .dropdown-content 
    {
        display: none;
        position: absolute;
        overflow: auto;
        z-index: 1;

        a
        {
            font-weight: bold;
            display: flex;
            margin-top: 7.5px;
            color: var(--text-normal);
            
            transition: all var(--hover-transition);
            
            font-size: var(--font-size-xxsm);

            text-transform: uppercase;
            text-decoration: none;

            &:hover
            {
                text-decoration: underline;
            }
        }
    }
}

.show 
{
    display: block !important;
}