.hljs-comment,
.hljs-quote {
    color: #b6b18b;
}

.hljs-deletion,
.hljs-name,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
    color: #eb3c54;
}

.hljs-built_in,
.hljs-builtin-name,
.hljs-link,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-params,
.hljs-type {
    color: #e7ce56;
}

.hljs-attribute {
    color: #ee7c2b;
}

.hljs-addition,
.hljs-bullet,
.hljs-string,
.hljs-symbol 
{
    color: #4fb4d7;
}

.hljs-section,
.hljs-title 
{
    color: #78bb65;
}

.hljs-keyword,
.hljs-selector-tag 
{
    color: #b45ea4;
}

// .hljs 
// {
//     display: block;
//     overflow-x: scroll;
//     background: #1c1d21;
//     color: #c0c5ce;
//     padding: .5em;
// }

.hljs-emphasis
{
    font-style: italic;
}

.hljs-strong 
{
    font-weight: 700;
}

pre, code 
{
    white-space: pre;
    overflow-x: scroll;
}

.hljs 
{
    display: inline-block;
    overflow-x: scroll;
    padding: 0.5em;
    // padding-right: 100%;
    width: 100% !important;
    color: #839496;
    -webkit-text-size-adjust: none;
}

.post-content
{
    // max-width: 100px !important;
}

pre, code 
{
    // white-space: pre-wrap;
}

.post-content
{
    // width: calc(100vw * 80 / 100);
    display: grid;
    // background-color: red;
}

.highlight
{
    justify-self: center;
    max-width: calc(100vw * (85 / 100)) !important;
    width: calc(100vw * (85 / 100)) !important;
    // min-width: 100vw !important;
    
    @media screen and (max-width: 1220px)
    {
        max-width: calc(100vw - 40px) !important;      
        width: calc(100vw - 40px) !important;      
    }
}

.highlight
{
    background: #1c1d21 !important;
    border-radius: 15px;
    border: 2px solid var(--border-color);
}

.highlight div
{
    padding: 0px !important;
    background: #1c1d21 !important;
}

.highlight::-webkit-scrollbar 
{
    display: none;
}

.highlight
{
    display: inline-block;
    overflow-x: scroll;
}

.highlight table
{
    // max-width: 10px !important;
    display: inline-block;
    overflow-x: scroll;
}

.highlight table::-webkit-scrollbar 
{
    display: none;
}

// div.highlight pre 
// {
//     white-space: pre-wrap;
//     word-break: break-word;
// }

.language-html.hljs.xml
{
    display: inline-block;
    overflow-x: scroll;
}

.language-html.hljs.xml::-webkit-scrollbar 
{
    display: none;
}

code::-webkit-scrollbar 
{
    display: none;
}

pre
{
    background: #1c1d21 !important;
}