.highlight
{
    display: inline-block;
    overflow-x: scroll;
    border-radius: 10px;
    background-color: var(--background-code-block) !important;
}

.highlight div
{
    border-radius: 10px;
    background-color: var(--background-code-block) !important;
}

.highlight::-webkit-scrollbar 
{
    display: none;
}

pre
{
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-code-block) !important;
}

code
{
    color: var(--text-normal);
}