#TableOfContents
{
    ul
    {
        li
        {
            list-style: none;

            a
            {
                color: var(--text-normal);
                text-decoration: none;
            }
        }
    }

    ul 
    {
        margin:  0;
        padding: 0;
    }

    li 
    {
        margin: 10px 0 10px 15px;
        // padding: 5px;

        & > ul 
        {
            margin-top: 10px;
            padding-left:   5px;
            margin-bottom: -5px;

            & > li:last-child 
            {
                margin-bottom: 0;
            }
        }
    }

    & > ul 
    {
        padding: 0 1em;
    }

    li
    {
        &.active
        {
            > a:first-child
            {
                color: var(--text-accent);
            }
        }
    }

    @function repeat($str, $n) 
    {
        $result: "";
        @for $_ from 0 to $n 
        {
            $result: $result + $str;
        }
        
        @return $result;
    }

    // Support up to 6 levels of indentation for lists in ToCs
    @for $i from 0 to 5 
    {
        & > ul #{repeat("> li > ul", $i)} > li.active-class > a 
        {
            $n: 25 + $i * 35;
            margin-left:  calc(-#{$n}px - 1em);
            padding-left: calc( #{$n}px + 1em - var(--heading-border-size));
        }

        & > ol #{repeat("> li > ol", $i)} > li.active-class > a 
        {
            $n: 9 + $i * 35;
            margin-left: calc(-#{$n}px - 1em);
            padding-left: calc(#{$n}px + 1em - var(--heading-border-size));
            display: block;
        }
    }
}