<nav class="navbar desktop">
    <div class="logo">
        <a href="/">Vasile <span>Câmpeanu</span></a>
    </div>
    <div class="links">
        <ul>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                {{ $menu_item_url := .URL | relLangURL }}
                {{ $page_url := $currentPage.RelPermalink | relLangURL }}
                {{ $icon := .Params.Icon }}
                <li>
                    <a class="{{ if eq $menu_item_url $page_url }}active{{ end }}" href="{{ .URL | relLangURL }}">{{ partial "helper/icon" $icon }}<p>{{ .Name }}</p></a>
                </li>
            {{ end }}
        </ul>
    </div>
    <div class="actions">
        <ul>
            <li>
                {{ partial "helper/icon" "search" }}
            </li>
            <li>
                <div class="theme-toggle">
                    <input class="toggle" id="darkmode-toggle" type="checkbox" tabindex="-1">
                    <label id="toggle-label-light" for="darkmode-toggle" tabindex="-1">
                        {{ partial "helper/icon" "sun" }}
                    </label>
                    <label id="toggle-label-dark" for="darkmode-toggle" tabindex="-1">
                        {{ partial "helper/icon" "moon" }}
                    </label>
                </div>
            </li>
            <li>
                <div class="dropdown-language">
                    <button>
                        {{ partial "helper/icon" "languages" }}
                    </button>
                    <div id="dropdown-language-content" class="dropdown-content">
                        {{ $lang := .Lang}}
                        {{ with $.Site.Home.AllTranslations }}
                            {{ range . }}
                                <a href="{{ .Permalink }}">{{ partial "helper/icon" "languages" }}{{ .Lang | title }}</a>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </li>
            <li class="togle-navbar-mobile">
                <div class="burger-menu">
                    <button id="burger" class="burger" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Mobile Menu">
                        <svg width="40" height="40" viewBox="0 0 100 100">
                            <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                            <path class="line line2" d="M 20,50 H 80" />
                            <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</nav>

<script>
// Language switch
// Close the dropdown if the user clicks outside of it
window.onclick = function (event) {
    if (!event.target.matches('.dropbtn')) 
    {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        
        for (var i = 0; i < dropdowns.length; i++) 
        {
            var openDropdown = dropdowns[i];
            
            if (openDropdown.classList.contains('show')) 
            {
                openDropdown.classList.remove('show');
            }
        }
    }
}

function dropDownFunction() 
{
    document.getElementById("dropdown-language-content").classList.toggle("show");
}
</script>